<div class="col-md-12">
  <div class="group">
    <%= link_to("新建群组", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>群组名字</th>
        <th>群组描述</th>
        <th>创建者</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "group_item", :collection => @groups, :as => :group %>
    </tbody>
  </table>

  <div class="text-center col-md-12 pagination">
    <%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
  </div>
</div>
